<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta id="theme-color" name="theme-color" content="#ffffff">
    <title>RCD Time and Attendance</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-card mdl-shadow--2dp" style="width: 500px; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Time and Attendance</h2>
        </div>

        <div class="mdl-layout__spacer"></div>

        <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="showVideo">Open camera</button> -->

    <form id="bundyForm" action="clock/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            <select id="personList" name="person">
                <option disabled selected>Your name is:</option>
                {% for person in person_list %}
                <option value="{{ person.id }}">{{ person.name }}</option>
                {% endfor %}
            </select>

            <main class="mdl-layout__content">
                <!-- <video id="gum-local" content="width=device-width, initial-scale=0.5" autoplay playsinline></video> -->
                <video id="gum-local" width="500" height="281" autoplay playsinline></video>
            </main>

            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="timeIN">IN</button>

            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="timeOUT">OUT</button>

            <div style="border: 1px solid #ccc; width: 500px; height: 280px; position: relative;">
                <canvas id="videoCanvas" width="500" height="281"></canvas>
            </div>
        </form>
    </div>

    <div id="errorMsg"></div>

<script>
var imageCapture;

document.querySelector('#personList').addEventListener('change', () => {
    navigator.mediaDevices.getUserMedia({video: true})
    .then(mediaStream => {
        document.querySelector('video').srcObject = mediaStream;

        const track = mediaStream.getVideoTracks()[0];
        imageCapture = new ImageCapture(track);
    })
    .catch(error => console.log(error));
});

document.querySelector('#timeIN').addEventListener('click', () => {
    const canvas = document.querySelector('#videoCanvas');

    imageCapture.grabFrame()
    .then(imageBitmap => {    
        drawCanvas(canvas, imageBitmap);
    })
    .catch(error => console.log(error));

    person_id = document.querySelector('#personList').value;
    filename = person_id + '_in_' + new Date().toISOString().slice(0, 10) + '.png';

    canvas.toBlob(blob => {
        imageFile = new File([blob], filename, {type: 'image/png'});

        const formData = new FormData(document.querySelector('#bundyForm'));
        formData.append('image', imageFile);
        formData.append('action', 'IN');
        formData.append('person_id', document.querySelector('#personList').value);
        
        fetch("http://127.0.0.1:8000/bundy/clock/", {
            method: "POST",
            body: formData,
        });
    }, 'image/png');
});

document.querySelector('#timeOUT').addEventListener('click', () => {
    const canvas = document.querySelector('#videoCanvas');

    imageCapture.grabFrame()
    .then(imageBitmap => {    
        drawCanvas(canvas, imageBitmap);
    })
    .catch(error => console.log(error));

    person_id = document.querySelector('#personList').value;
    filename = person_id + '_out_' + new Date().toISOString().slice(0, 10) + '.png';

    canvas.toBlob(blob => {
        imageFile = new File([blob], filename, {type: 'image/png'});

        const formData = new FormData(document.querySelector('#bundyForm'));
        formData.append('image', imageFile);
        formData.append('action', 'OUT');
        formData.append('person_id', document.querySelector('#personList').value);
        
        fetch("http://127.0.0.1:8000/bundy/clock/", {
            method: "POST",
            body: formData,
        });
    }, 'image/png');
});

/* Utils */

function drawCanvas(canvas, img) {
    canvas.width = getComputedStyle(canvas).width.split('px')[0];
    canvas.height = getComputedStyle(canvas).height.split('px')[0];
    let ratio  = Math.min(canvas.width / img.width, canvas.height / img.height);
    let x = (canvas.width - img.width * ratio) / 2;
    let y = (canvas.height - img.height * ratio) / 2;
    canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
    canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
        x, y, img.width * ratio, img.height * ratio);
}

document.querySelector('video').addEventListener('play', function() {
  document.querySelector('#timeIN').disabled = false;
});
</script>
</body>
</html>