<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head> <body>
    <h1 class="text-3xl font-bold underline">RCD Sheet</h1>

    <table class="table-auto">
      <thead>
        <tr>Person</tr>
        <tr>Clock In</tr>
        <tr>Clock Out</tr>
      </thead>
      <tbody>
      {% for person in persons_list %}
        <tr>
          <td>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <div class="w-full content-center size-100px">{{ person.image|safe }}</div>
              <div class="p-5 justify-center">{{ person.name }}</div>
            </div>
          </td>
          <td>
            <div>
              <div class="w-full content-center size-100px">{{ person.image_in|safe }}</div>
              <div class="justify-center">{{ person.time_in }}</div>
            </div>
          </td>
          <td>
            <div>
              <div class="w-full content-center size-100px">{{ person.image_out|safe }}</div>
              <div class="justify-center">{{ person.time_out }}</div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </body>
</html>
